.listbox{
    width: 100%;
    display: flex;
    margin: 1rem 0;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 1px;
    /*border: solid red;*/
}

.listinput{
    /*border: solid red;*/
    width:100%;
    padding: 5px;
    text-align: center;
    margin: 0px;
    background-color: rgba(202, 240, 231, 0.959);
    border: solid rgba(202, 240, 231, 0.959);
    outline: none;
}

.listbut{
    padding: 5px;
    text-align: center;
    margin: 0px;
    background-color: rgba(156, 206, 194, 0.959);
    border: solid rgba(202, 240, 231, 0.959);
    outline: none;
}
